<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--mybatis主配置文件-->
    <!--<settings>-->
        <!--<setting name="logImpl" value="STDOUT_LOGGING"/>-->
    <!--</settings>-->

    <!--设置别名-->
    <typeAliases>
        <package name="com.ca_bpy.domain"/>
    </typeAliases>

    <!--mapper文件位置-->
    <mappers>
        <package name="com.ca_bpy.dao"/>
    </mappers>
</configuration>